@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: inline-block;
    animation: marquee 15s linear infinite;
  }

  /* Add this to your global CSS file or inside a component */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f7f7f7; /* Background color of the scrollbar track */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #101828; /* Color of the scrollbar thumb */
  border-radius: 4px;
  height: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; /* Color when hovered */
}
